<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}My App{% endblock %}</title>
    <meta name="description" content="Profile card UI design - learningrobo">
    <meta name="author" content="learningrobo.com">
    <meta name="keywords" content="profile card,Responsive,learningrobo.com,html & css projects">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/5d72166fb5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
