<!DOCTYPE html>
<html>
<head>
    <title> User Profile</title>
    <meta name="description" content="Profile card UI design - learningrobo">
    <meta name="author" content="learningrobo.com">
    <meta name="keywords" content="profile card,Responsive,learningrobo.com,html & css projects">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="#">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/5d72166fb5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- Contact Section -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="container-card">
                        <div class="container-card-header">
                            
                            <!-- change profile photo fro here -->
                            <div class="profile-photo">
                                <img src="res/profile_image/hamdan.jpg" alt="Profile Image">
                            </div>
                            <div class="profile-details">
                                <h1>Name</h1>
                                <h2 class="designation">Designation</h2>
                            </div>
                        </div>
                        <div class="container-card-middle">
                            <div class="about">
                                <h2>About</h2>
                                <p> about text will be here</p>
                            </div>
                            <div class="social">
                                <div class="container-card-middle-right-icon">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                            </div>
                            <div class="contact-details">
                                <h2>Contact</h2>
                                <p><i class="fas fa-phone"></i> +123 215 8890</p>
                                <p><i class="fas fa-envelope"></i> hamdan@example.com</p>
                                <p><i class="fas fa-globe"></i> www.hamdanwebsite.com</p>
                                <p><i class="fas fa-map-marker-alt"></i> Dubai, UAE</p>
                            </div>
                        </div>
                        <div class="container-card-bottom">
                            <button>Save Contact</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Services Section -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="container-card">
                        <div class="container-card-header">
                            <div class="profile-details">
                                <h1>Our Services</h1>
                            </div>
                        </div>
                        <div class="container-card-middle">
                            <div class="services">
                               
                                <div class="service-cards">
                                    <div class="service-card">
                                        <i class="fas fa-search"></i>
                                        <h3>Service 1 Title</h3>
                                        <p>Service 1 Description</p>
                                    </div>
                                    <div class="service-card">
                                        <i class="fas fa-tools"></i>
                                        <h3>Service 2 Title:</h3>
                                        <p>Service 2 Description:</p>
                                    </div>
                                    <div class="service-card">
                                        <i class="fas fa-cut"></i>
                                        <h3>Service 3 Title:</h3>
                                        <p>Service 3 Description:</p>
                                    </div>
                                    <div class="service-card">
                                        <i class="fas fa-drafting-compass"></i>
                                        <h3>Service 4 Title:</h3>
                                        <p>Service 4 Description:</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
